@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  h1 {
    color: blue;
  }
  #ABCD {
    font-size: small;
    color: aqua;
  }
  #q1:hover {
    background-color: aqua;
  }
  #services:drop{

  }
}
 #first{animation: changetext;}
#cooler::after{
content: '';
animation: changetext 8s  infinite linear;
}
@keyframes changetext{
    0%{
        content: 'Got Cooler';
    }
    20%{
        content: 'Got Hope-Giving';
    }
    40%{
        content: 'Got Convenient';
    }
    60%{
        content: 'Got Life-Changeing';
    }
    80%{
        content: 'Got Easier';
    }
    100%{
        content: 'Got Empowering';
    }
}
.dropdown{
  position: relative;
}
.dropdown p{
  
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown .content{
  display: none;
  position: absolute;
  background-color: rgb(240, 199, 166);
  min-width: 100px;
  box-shadow: 2px 2px 5px rgb(47, 50, 39);
  border-radius: 5%;
  top: 60px;
}
.dropdown:hover .content{
  display: block;
}


.dropdown a:hover{
  background-color: rgb(210, 230, 230);
}
.dropdown-img {
  width: 100%;
  height: auto;
}

.overlay-text {
  padding: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.dropdown1{
  position: relative;
}
.dropdown1 p{
  
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown1 .content1{
  display: none;
  position: absolute;
  background-color: rgb(240, 199, 166);
  min-width: 100px;
  box-shadow: 2px 2px 5px rgb(47, 50, 39);
  border-radius: 5%;
  top: 60px;
}
.dropdown1:hover .content1{
  display: block;}
  
  
  .dropdown2{
    position: relative;
  }
  .dropdown2 p{
    
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown2 .content2{
    display: none;
    position: absolute;
    background-color: rgb(240, 199, 166);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(47, 50, 39);
    border-radius: 5%;
    top: 60px;
  }
  .dropdown2:hover .content2{
    display: block;}

    .dropdown3{
      position: relative;
    }
    .dropdown3 p{
      
      padding: 10px 15px;
      border: none;
      cursor: pointer;
    }
    
    .dropdown3 .content3{
      display: none;
      position: absolute;
      background-color: rgb(240, 199, 166);
      box-shadow: 2px 2px 5px rgb(47, 50, 39);
      border-radius: 5%;
      top: 60px;
      right: 2px;
    }
    .dropdown3:hover .content3{
      display: block;}
      
    
    